<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div data-role="header" class="header header-info">
        <a href="javascript:history.back(-1)" data-role="button"  data-rel="back">返回</a>
        <h1>印 象 陕 西 —— biangbiang面</h1>
    </div>

    <div data-role="content" class="content">
        <img src="../img/biangbiangmian.jpg">
        <p>Biang biang面是陕西名特小吃，也称裤带面。biang biang面一根面条宽度可达二三寸，
            长度则在1米上下，厚度厚时与硬币差不多，薄时却如同蝉翼，一根面条足够一顿饭。</p>
        <p>关中流传：门帘挂个席片子，屋里吃着biangbiang子，可见关中富饶的象征，
            爱吃不爱穿，biangbiang面放油泼辣子最香，从古到今，面馆到家庭餐桌均放四个小吃碗（盐、辣、醋、酱）。</p>
        <p>辣子又称秦椒，方言话：大炮、二炮、线线辣子；大辣子、狗qiu辣子、尖辣子。</p>
        <p>辣子吃法多样：生吃整个辣子、凉拌尖辣子、炒虎皮辣子、炒青辣子；辣子酱、辣子油、泡辣子；干调辣面、醋、酱、浆水合辣子，最好的油泼辣子。</p>
        <p>“面条像裤带”，“辣子是主菜”是关中十大怪其中一怪，三言两语将陕西关中人爱吃面习惯饮食展现出来，老陕人端一大碗biangbiang面、陕西关中有
            一句老话：“油泼辣子biangbiang面”谗得爱吃面的人流口水。最古老的一种是擀厚切宽像裤带，爽口耐饥撩的太。辣面拌盐热油泼，调面夹馍把面下。</p>
        <p>陕西八大怪，其中“面条像裤带”就是指这种面。</p>

    </div>

    <div data-role="footer" class="footer">
        <h1>美 食</h1>
    </div>
</div>

</body>
</html>