<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div data-role="header" class="header header-info">
        <a href="javascript:history.back(-1)" data-role="button"  data-rel="back">返回</a>
        <h1>印 象 陕 西 —— 黄桂稠酒</h1>
    </div>

    <div data-role="content" class="content">
        <img src="../img/choujiu.jpg">
        <p>西安黄桂稠酒始于商周，距今已有三千多年的历史。其状如牛奶，色白如玉，
            汁稠醇香，绵甜适口。内配有中药黄桂，使酒味有黄桂芳香，相传"贵妃醉酒"
            喝的就是此酒，故还称"贵妃稠酒"。</p>
        <p>黄桂稠酒，又叫西安稠酒、陕西稠酒、贵妃稠酒、臻品稠酒。古称“醪醴”(读劳礼)、
            “玉浆”。为中国古老的传统佳酿，是陕西八大名贵特产之一，早已名扬天下。黄桂
            稠酒古称“玉浆”，始于先秦，是陕西省关中著名特产，很早以前已是喜庆宴席之佳酌
            ，尤为文人名士所喜爱。</p>
        <p>稠酒，似酒非酒胜似酒，其汁稠、醇香、绵甜适口，酒精含量在1%左右。后来，人们在酒液中配以中药黄桂，使酒味有黄桂芳香，故取名“黄桂稠酒”。</p>
        <p>当年郭沫若在西安饭庄喝了热腾腾的黄桂稠酒后，高兴异常，连声说此物“似酒非酒胜似酒”。</p>
        <p>黄桂稠酒具有健胃、活血、止渴、润肺之功能。饮用此酒有益于身体健康。</p>

    </div>

    <div data-role="footer" class="footer">
        <h1>美食</h1>
    </div>
</div>

</body>
</html>