<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div data-role="header" class="header header-info">
        <a href="javascript:history.back(-1)" data-role="button"  data-rel="back">返回</a>
        <h1>印 象 陕 西 —— 锅盔</h1>
    </div>

    <div data-role="content" class="content">
        <img src="../img/guokui.jpg">
        <p>陕西锅盔，又叫锅魁、锅盔馍、干馍，是陕西省关中地区城乡居民喜食的
            汉族传统风味面食小吃。锅盔源于外婆给外孙贺弥月赠送礼品，后发展成为风味方便食品。</p>
        <p>锅盔是陕西八大怪之一。人称“睁眼锅盔像锅盖”，即象头盔状，顾名思义又叫锅盔。
            锅盔制作工艺精细，素以“干、酥、白、香”著称。干硬耐嚼，内酥外脆，白而泛光，香醇味美。</p>


    </div>

    <div data-role="footer" class="footer">
        <h1>美 食</h1>
    </div>
</div>

</body>
</html>