<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">
<body>

<div data-role="page" id="pageone"  data-theme="e">
    <div data-role="header" class="header header-info">
        <a href="javascript:history.back(-1)" data-role="button"  data-rel="back">返回</a>
        <h1>印 象 陕 西 —— 荞面饸络</h1>
    </div>

    <div data-role="content" class="content">
        <img src="../img/heluo.jpg">
        <p>荞面饸饹是陕西省著名的汉族面食小吃。被誉为北方面食三绝之一，
            与兰州拉面、山西刀削面齐名，古称"河漏"，主料除荞麦面粉外，还有食用碱和食盐。</p>
        <p>西安城墙内的西北方向有一个地方名叫教场门，顾名思义，大概是当年八旗兵、
            绿营兵操演武功的地方。“门”没有看到过，但在相当长一段时间里，“教场门”
            三个字出现在西安人的口中，常常是后面还挂着另两个字“饸饹”。</p>
        <p>饸饹，因多用荞麦面制成，比较固定的叫法是荞面饸饹。据有人考证说此
            食物在元代已经有了，根据是元人王桢著的《农书·荞麦》节中有“北方
            山后，诸郡多种，磨而为面或作汤饼，渭之河漏。”“河漏”、“饸饹”，
            两者在读音上无论按普通话还是陕西腔都很相近。</p>
        <p>荞麦亩产不高，但制成的饸饹却很惹人爱，色泽黑亮，
            入口筋顽，越嚼越香。因而几十年前西安的巷子里就有一句俚语
            “荞面饸饹黑是黑，筋韧爽口能待客。”饸饹能待客，可不是谁
            在自家小厨房捣腾一阵子就能做出来的，象羊肉泡、葫芦头一样，
            也得到市面上专营的“老字号”才能品到正宗风味，上面说到的
            教场门饸饹就曾经是古城最有名的一家。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>美 食</h1>
    </div>
</div>

</body>
</html>