<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div data-role="header" class="header header-info">
        <a href="javascript:history.back(-1)" data-role="button"  data-rel="back">返回</a>
        <h1>印 象 陕 西 —— 葫芦头</h1>
    </div>

    <div data-role="content" class="content">
        <img src="../img/hulutou.jpg">
        <p>葫芦头泡馍是陕西西安特有的汉族传统风味小吃。以味醇汤浓、馍筋肉嫩、肥而不腻闻名于国内外。其烹制工艺精细，合理使用多种调。
            最重要的是处理肠肚、熬汤、泡馍三道程序，其中原料肠肚要经过十几道工序才能达到去污、去腥、去腻的要求，做出美味的葫芦头。</p>
        <p>葫芦头，即猪大肠与小肠连接处的肥肠，因其熟后收缩状似葫芦头，故名。葫芦头泡
            馍即以此段肥肠与掰碎的饦饦馍加其他辅料、调料用滚沸的肉汤泡(浇泡)制成。</p>
        <p>馍块绵筋，汤鲜肉嫩，滋味浓香，食时佐糖蒜。以西安南院门春发生葫芦头泡馍馆制作的为佳。</p>
        <p>葫芦头泡馍是在唐朝的"葫芦头"的基础上发展而来的。葫芦头泡馍之所以脍炙人口与它精细的烹制工艺和多种调料的合理使用是分不开的。
            其烹制工艺主要有处理肠肚、熬汤、泡馍三道程序。 肠肚要经过挼、捋、刮、翻、摘、回翻、漂，再捋、煮、晾等十几道工序，才能达到去污、去腥、去腻的要求。</p>

    </div>

    <div data-role="footer" class="footer">
        <h1>美食</h1>
    </div>
</div>