<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div data-role="header" class="header header-info">
        <a href="javascript:history.back(-1)" data-role="button"  data-rel="back">返回</a>
        <h1>印 象 陕 西 —— 凉皮</h1>
    </div>

    <div data-role="content" class="content">
        <img src="../img/liangpi.jpg">
        <p>陕西凉皮种类繁多，有麻酱凉皮、秦镇凉皮、汉中凉皮、岐山擀面
            皮和面筋凉皮等，做法各异，调拌时各具特色，口味也不尽相同，
            但都以酸、辣、香为主。</p>
        <p>陕西凉皮因原料不同可分为：面皮、米皮、黑米皮、魔芋皮、醋粉
            皮等多种。因制作方法不同又分为蒸面皮、擀面皮、烙面皮等。凉
            皮吃法多样，可凉拌、可热调、还可如炒面般炒着吃，但主要还是
            凉拌着吃。凉皮初时属夏令食品，但已经变为四季咸宜。</p>

    </div>

    <div data-role="footer" class="footer">
        <h1>美食</h1>
    </div>
</div>

</body>
</html>