<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <script src="../js/auto.js"></script>

</head>
<body>

<div data-role="page" id="pageone"  data-theme="e">
    <div data-role="header" class="header header-info">
        <a href="#" data-role="button"  data-rel="back">返回</a>
        <h1>印 象 陕 西 —— 羊肉泡馍</h1>
    </div>

    <div data-role="content" class="content">
        <img src="../img/paomo.jpg">
        <p>羊肉泡馍，古称"羊羹"，宋代苏轼有"陇馔有熊腊，秦烹唯羊羹"的诗句。
            羊肉泡馍的烹饪技术要求很严，煮肉的工艺也特别讲究。其制作方法是：
            先将优质的牛羊肉洗切干净，煮时加葱、姜、花椒、八角、茴香、桂皮
            等佐料煮烂，汤汁备用。</p>
        <p>馍，是一种白面烤饼，吃时将其掰碎成黄豆般
            大小放入碗内，然后交厨师在碗里放一定量的熟肉、原汤，并配以葱末
            、白菜丝、料酒、粉丝、盐、味精等调料，单勺制作而成。</p>
        <p>牛羊肉泡馍的吃法也很独特，有羊肉烩汤，即顾客自吃自泡：也有干泡的，
            即将汤汁完全渗入馍内。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>美食</h1>
    </div>
</div>

</body>
</html>