<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div data-role="header" class="header header-info">
        <a href="javascript:history.back(-1)" data-role="button"  data-rel="back">返回</a>
        <h1>印 象 陕 西 —— 肉夹馍</h1>
    </div>

    <div data-role="content" class="content">
        <img src="../img/roujiamo.jpg">
        <p>陕西腊汁肉夹馍的历史非常悠久，在《周礼》一书提到的“周代八珍”
            中的“渍”就是腊汁肉。战国时代有“寒肉”，当时位于秦、晋、豫
            三角地带的韩国已能制作;秦统一后，制作技艺传到长安，并世代流传
            下来。北魏贾思勰《齐民要术》记载的“腤肉”制法，与现在的腊汁肉
            基本相同，只是现有的用料制法更为讲究。腊汁肉夹馍的做法考究，
            腊汁肉色泽红润，气味芬芳，肉质软糯，糜而不烂，人称：“肥肉吃
            不腻口，瘦肉无渣满含油，不用牙咬肉自烂，食后留香久不散。”</p>
        <p>腊汁肉是名优传统小吃。相传战国时已有制作,相沿成习,流传至今。制
            作方法是:把精选的猪肉放入丁香、蔻仁、良姜、花椒、大料、冰糖、
            桂皮、绍酒等20多种佐料煮成的陈年汤汁中,用小火炖烂。成品外观红
            润、鲜嫩,食用时肥而不腻,瘦而不柴,入口即化。通常夹在烧饼中吃,民
            间称其为“肉夹馍”。如不夹馍,用来下饭、佐酒皆可。</p>

    </div>

    <div data-role="footer" class="footer">
        <h1>美 食</h1>
    </div>
</div>

</body>
</html>