<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div data-role="header" class="header header-info">
        <a href="javascript:history.back(-1)" data-role="button"  data-rel="back">返回</a>
        <h1>印 象 陕 西 —— 臊子面</h1>
    </div>

    <div data-role="content" class="content">
        <img src="../img/saozimian.jpg">
        <p>臊子面是中国陕西汉族传统面食，以宝鸡的岐山臊子面最为正宗，
            臊子面历史悠久。以薄、筋、光、汪、酸、辣、香等特色，吃口柔韧滑爽。</p>
        <p>一碗合格的岐山臊子面应该具有“面白薄筋光，油汪酸辣香”的
            特点。面条细长，厚薄均匀，臊子鲜香，红油浮面，汤味酸辣，
            筋韧爽口，老幼皆宜。臊子面在关中地区有其非常重要的地位，
            在婚丧、逢年过节、孩子满月、老人过寿、迎接亲朋等重要场合都离不开。</p>
        <p>关中农村地区，新年第一天的早晨基本上都是臊子面。吃饭前，先端一碗汤
            去门前撒一些以祭奠先人和土地爷、仓神、灶神等，后才家人享用。有的
            也在先人像前献上一碗臊子面以示怀念。</p>
        <p>岐山的臊子面历史悠久，起源于商周，清代已经很驰名。
            岐山大小饭店都供应臊子面，或者干脆就起个“岐山臊子面馆”
            “臊子面馆”或"老**臊子面”等只卖臊子面。</p>

    </div>

    <div data-role="footer" class="footer">
        <h1>美食</h1>
    </div>
</div>

</body>
</html>