<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div data-role="header" class="header header-info">
        <a href="javascript:history.back(-1)" data-role="button"  data-rel="back">返回</a>
        <h1>印 象 陕 西 —— 长武血条汤</h1>
    </div>

    <div data-role="content" class="content">
        <img src="../img/xuetiaotang.jpg">
        <p>血条汤是陕西长武特色食品。长武人红白喜事，生日满月，逢年过节，招待客人的头一顿上等饭是血条汤。
            煎汤时加用动物油（大油）作的油泼辣椒、豆腐、葱花、鲜香菜等，形成血条红，豆腐白，辣而不呛，油而不腻的特点，为地方风味吃食一绝。</p>
        <p>在长武丰富的饮食文化资源中，有一种特殊的产物，那就是极富地方特色，深受长武群众喜爱的长武血条汤，在长武人红白喜事，
            生日满月，逢年过节，招待客人的头一顿上等饭便是血条汤，血条汤端上席，漂一层鲜红的油泼辣子，筷子一动，红红的血条
            ，翠绿的芫荽，雪白的豆腐，葱花，金色的黄花，黑色的木耳，再加大肉臊子，色味俱全，引得人直流口水。血条汤的关键在血条上，
            它制作方法是：用白面伴鲜猪或鲜鸡血拌匀，用压面机压成细条，切短，蒸熟，拌上清油晒干储存，做汤时把干血条放入滚水锅里，
            煮泡5~10分钟，然后加上调料佐菜，烧开即可，吃血条汤一般要泡上白蒸馍，配凉拌豆芽，粉丝等凉菜。馍香汤热，菜凉味鲜，
            准保叫你解馋，满意。现在长武血条汤已走出家门进入市场，凡是到长武来的人，都可以在大小食堂饮食摊点，随时品偿独具风味的长武血条汤。</p>
        <p>长武县位于陕西西端，甘陕交界处，是古丝绸之路陕西段的最后一驿，是西兰路的入陕第一站。地理位置重要，自古兵家必争，取长治以武之意，故名长武。</p>
        <p>此地民风溶关中的淳朴与塞外的豪放于一体。饮食亦朴拙豪放，大气浑成，最具特色的当属本地独一无二的“血条汤”。</p>
        <p>传隋末唐初，李世民率军征战至此。正逢腊月，天寒地冻。将士疲倦。本地又少有青菜。随军伙夫发现，百姓杀猪宰羊，血都不用。便用猪血和面制成面条，入热汤泡着干粮吃。
            将士吃后，血脉通畅，精神焕发。后来这种食品慢慢的演化。汤内加入肉臊子、豆腐等蔬菜，成为当地百姓重大宴席上不可缺少，最有代表性的食品。</p>

    </div>

    <div data-role="footer" class="footer">
        <h1>美食</h1>
    </div>
</div>