<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div data-role="header" class="header header-info">
        <a href="javascript:history.back(-1)" data-role="button"  data-rel="back">返回</a>
        <h1>印 象 陕 西 —— 浆水鱼鱼</h1>
    </div>

    <div data-role="content" class="content">
        <img src="../img/yuyu.jpg">
        <p>浆水鱼鱼是一道著名的陕西传统小吃。浆水鱼鱼曰鱼，其实并不似鱼，酷如蝌蚪。陕西话叫“蛤蟆骨斗”，即小蝌蚪。</p>
        <p>浆水鱼鱼一般有2种：玉米面和一般淀粉，可热吃也可凉吃，味道十分鲜美。夏季特别适宜，可缓解夏季的烦躁酸辣爽口是夏季提升食欲的佳品。</p>
        <p>浆水鱼鱼曰鱼，其实并不似鱼，酷如蝌蚪。外地人多不知做法，秦人有戏谑者夸口为手工一一捏制，遂使外人叹为观止。</p>
        <p>秦人老少皆能作，依凉水加白矾将豆粉搓成硬团，后以凉水和成粉糊，使其有韧性。锅水开沸，粉糊徐徐倒入，搅，
            粉糊熟透，压火，以木勺着底再搅，锅离火，取漏勺，盛之下漏凉水盆内；“鱼”，则生动也。</p>
        <p>漏勺先为葫芦瓢作，火筷烙漏眼；后为瓦制；现多为铝制品。</p>
        <p>漏雨可凉吃，滑、软，进口待咬时却顺喉而下，有活吞之美感。易饱，亦易饥。暑天有愣小子坐下吃两碗，打嘈松裤带，吸一支烟，站起来又能吃两碗，遂暑热尽去，液下津津生风。</p>
        <p>浆水鱼鱼冬吃则讲究炒粉，平底锅烧热，淋少许清油，将葱花稍炒后，倒粉鱼炒，加糖色、调料，以瓷碗捂住，一二分钟后，色黄香喷即成。卖主见妇人牵小孩路过，大声吆喝，
            小孩便受诱不走，妇人多边喂小孩，边斥责小孩嘴馋，却总要喂小孩两勺，便倒一勺入自己口中。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>美食</h1>
    </div>
</div>