<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div data-role="header" class="header header-info">
        <a href="javascript:history.back(-1)" data-role="button"  data-rel="back">返回</a>
        <h1>印 象 陕 西 —— 甑糕</h1>
    </div>

    <div data-role="content" class="content">
        <img src="../img/zenggao.jpg">
        <p>甑糕（甑，zèng。关中方音中为尖音字，读作zìng，讹作jìng。）是西安和关中地区特有的传统风味小吃，用糯米、红枣或蜜枣、红豆置铁甑上蒸制而成。</p>
        <p>甑糕小吃历史悠久。甑，是中国古代一种非常古老的蒸器，有陶制、铜制、木制、铁制等，后经民间传承，将铁甑保留至今，而用之蒸制的粘糕也别有风味。</p>
        <p>顾名思义，“甑糕”就是以红枣和糯米为原料，用“甑”蒸制成的“糕”，故名。甑糕米
            枣交融，老幼咸宜，营养丰富，滋补性强，色泽鲜润，绵软粘甜，浓香扑鼻，久食不厌，风味独特。</p>
        <p>甑糕是关中地区的风味小吃。陶甑蒸出来的质量最好。甑糕的原料是江米（传统是无锡糯米）、
            大枣（以灵宝毛头枣最好）其比例是每锅江米10公斤，大枣3公斤泡米、装甑、加水与火功等，都有严格要求。</p>
        <p>甑糕，形色俱佳，软硬适度，软甜粘劲，味道醇厚，实为冬春早点的佳品。</p>

    </div>

    <div data-role="footer" class="footer">
        <h1>美 食</h1>
    </div>
</div>