<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 长武苹果</h1>
    </div>

    <div  class="content">
        <img src="../../img/changwupingguo.jpg">
        <p >长武苹果，系指长武县地区的所有苹果。这里所盛产的苹果个大、色艳、细脆、香甜、无污染、耐贮运等特点，特别是红富士系列苹果，肉脆、味鲜、质优，
            成为陕西名优水果品种，连年远销国外市场。曾先后被命名为“陕西省优质苹果基地县”、“绿色食品（苹果）生产基地县”、“出口苹果标准化生产示范县”、“中国苹果之乡”的美誉。</p>
        <p>长武的苹果栽培历史悠久，早期是生长在山里的野苹果，素称“山顶子”，如今长武枣园镇郭村等地依然能看到。改革开放以后，长武县少部分人小面积种植秦冠，有的人种植在房前屋后。
            经过几年的发展，苹果种植面积扩大，品种也呈现多样化，以秦冠、黄元帅、红富士为主。直到今天为止，
            长武地区主栽品种有红富士、黄元帅、秦冠、新红星、皇家嘎啦、乔纳金等新优品种60多个品系，在省和国家组织的历届苹果评比中，长武苹果质量均名列前茅。</p>
        <p>长武苹果作为陕西的名优水果，其营养丰富，价值较高，在当地人们称“糖果”。它含水分85%左右，糖19.2%，苹果酸0．32%～0．8%，还含有各种维生素和矿物质。
            这些都是人体不可缺少的营养。具有补血益气，止渴生津和开胃健脾之功，对消化不良，食欲欠佳，胃部饱闷，气壅不通者，生吃或挤汁服之，可消食顺气，增加食欲。
            科学家发现，苹果不但有多种维生素、矿物质、脂肪、糖类等构成大脑所必须的营养成分，而且含有利于增进儿童记忆力。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>