<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 大荔冬枣</h1>
    </div>

    <div  class="content">
        <img src="../../img/dongzao.jpg">
        <p >享有“南荔枝，北冬枣，百果王”的盛名。平均单果重17.5g，最大单果重可达25g，状如苹果，
            有“小苹果”之称。果皮赭红光亮、皮薄肉脆、甘甜清香、营养丰富，可食率达95%。经科学分析，
            冬枣含有天门冬氨酸、苏氨酸等19种人体必需的氨基酸，与其它果品相比，维生素C的含量是苹果的70倍，梨的140倍，
            营养价值为“百果之冠”，被誉为“百果王”、“活维生素丸”。另外富含多种微量元素和矿物质，
            有防癌、防心脑血管疾病之功效，营养价值为百果之冠，倍受广大消费者青睐，被称为“天下奇果”</p>
        <p>枣是大荔县沙苑地区的主要果品。其特点：弹性强、易漂浮、耐贮运。据大荔县旧志载：西汉时，
            大荔沙苑一带就栽植枣树，所产之枣以：个大、皮薄、核小、肉厚、富弹性、味脆甜、液汁多而扬名全国。
            1984年，县副食公司与浙江义乌县二十三里供销合作社联合兴办蜜枣加工厂，生产出金黄发亮的"金丝蜜枣"，
            畅销国内外，成为本县一项开发特产。2001年6月，国家林业局授予大荔县"中国枣乡"称号。
            大荔县也提出了建设"建设全国优质红枣第一县"，建设"全国最大的鲜食红枣基地"和"全国最大的红枣加工基地"的目标。</p>
        <p>庙上冬枣果实还含有较多的维生素A、维生素E、钾、钠、铁、铜等多种微量元素，有保持毛细血管畅通、防止血管壁脆性增加的功能，
            对于高血压、动脉粥样硬化病症有疗效，有防癌之功效。营养价值为百果之冠，有“百果王”之称。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>