<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 城固柑橘</h1>
    </div>

    <div  class="content">
        <img src="../../img/ganju.jpg">
        <p >城固柑橘历史悠久，2000年前就有“蜀汉江铃千树”的记载。但是，以前由于缺乏统一商标，降低了城固柑橘的市场竞争力。</p>
        <p>2001年，城固被国家林业部命名为“中国柑橘之乡”。2002年城固生产的
            城固柑橘
            城固柑橘
            “宫川”、“兴津”、“城蜜02”经农业部柑橘苗木质量监督检验测试中心检测，被认定为“优质果品”，并颁发了“优质柑橘果
            品证书”和“品种登记证书”。建成10万亩柑橘绿色果品基地，“泛亚牌”和“升仙牌”城固柑橘通过了绿色食品A级认证。
            2005年在北京国际农产品交易会上，城固柑橘被评为“最畅销产品奖”。</p>
        <p>。有着“中国柑橘之乡”美誉的城固县，在发展柑橘过程中，充分利用良好的生态资源，坚持走无公害、绿色、有机食品发展道路，
            2012年全县柑橘面积22.4万亩，总产量25.6万吨。在市县有关部门的高度重视下，“城固蜜桔”地理标志于2008年12月获国家
            农业部核准注册，实现了该县地理标志零突破。2009年5月，该县在国家工商总局商标局成功注册“城固柑桔”、
            “城固蜜桔”商标。去年“城固柑桔”品牌经中国农产品品牌价值评估课题组评估价值达到8.73亿元，跻身“消费者最喜爱的中国农产品区域公用品牌”百强。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>