<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 挂面</h1>
    </div>

    <div  class="content">
        <img src="../../img/guamian.jpg">
        <p >岐山挂面是陕西岐山的地方名吃之一。 此面工艺独特，面条细白，耐煮味香，食用方便。</p>
        <p>光绪时期，岐山挂面名声大振，陕西官吏把它当作地方名产向清皇室进贡。
            民国时期，岐山挂面的信誉与质量达到鼎盛时期。 1931 年岐山“顺天成”挂面飘洋过海，参加了在美国旧金山举行的“万国博览会”。</p>
        <p>旧时工艺如此之细致，当是岐山挂面赢得很高信誉的重要原因。在商品大潮的冲击下，普遍认为，现在的挂面制作已经没有以前那样认真，
            譬如取料、碾磨，都有些不甚讲究。但从另一方面看，由于农村中人民生活普遍提高，西府许多地方，几乎家家备有一台小型压面条机器，
            可以随时制作粗细宽窄不同的面条，非常方便，人们已经不十分需要食用先前的那种挂面，所以对此也不十分感到惋惜。
            看来，要使传统的好东西永葆青春，还需在新的情况下有所革新有所前进才行。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>