<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 洋县黑米</h1>
    </div>

    <div  class="content">
        <img src="../../img/heimi.jpg">
        <p >洋县黑米产于陕西省汉中市洋县。洋县北靠秦岭、南临巴山，是世界珍禽朱鹮的栖息地</p>
        <p>洋县黑米古称“粳谷奴”，外皮墨黑，内芯雪白的，有“黑珍珠”、“世界米中之王”的美称。
            洋县黑米具有较高的营养和滋补价值。2006年3月，国家质检总局批准对洋县黑米实施地理标志产品保护。</p>
        <p>洋县黑米具有较高的营养价值。据商业部食品检测科研站和陕西省粮油检测站、西北农业大学中心化验室分析测定：
            黑米含蛋白质9．56%～11．8%，比普通大米高37%，比国际大米质量标准高3．81%；
            含脂肪2．37%～2．8%，比国内大米质量标准高2.9倍，比普通大米高1．3%～2.5%；
            还富含16种氨基酸，平均高于普通大米15．8%。每百克含缬氨酸754毫克、亮氨酸1261毫克、
            赖氨酸249毫克、苏氨酸419毫克、异氨酸357毫克、精氨酸915毫克、组氨酸385毫克、苯丙氨酸518毫克，
            这8种氨基酸含量平均较普通大米高15.85%；每百克中尚含有维生素B10．21毫克、B20．16毫克。
            此外，有益于人体健康的其它营养成分，如铁、钙、锌、钼、硒等多种矿物质的含量，亦大大高出普通大米。因此，有“世界稻米之王”的美称。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>