<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 红枣</h1>
    </div>

    <div  class="content">
        <img src="../../img/hongzao.jpg">
        <p >陕北大红枣主要产于黄河沿岸的宜川、延川、清涧、吴堡、佳县、神木、府谷、绥德等县。
            它以果大、核小、皮薄、肉厚、味醇、油性大、色红、酸甜可口、含丰富的蛋白质、维生素、矿物质闻名于世。</p>
        <p>这得从陕北枣树的生活习性说起。红枣的适宜生态条件是干燥少雨，阳光充足的气候，它适应能力特别强，
            耐寒(一30℃)，耐高温(43℃)，耐盐碱，耐瘠薄，是名副其实的“铁杆庄稼”。</p>
        <p>枣果馅、油枣、滩枣、木枣、狗头枣等佳品，均可在西安的农贸市场、主要百货副食商场选购。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>