<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 凤翔腊驴肉</h1>
    </div>

    <div  class="content">
        <img src="../../img/lvrou.jpg">
        <p >凤翔腊驴肉是陕西省凤翔地区的特色美味佳肴名菜。驴肉具有补气血，益脏腑等功能，
            对于积年劳损、久病初愈、气血亏虚、短气乏力、食欲不振者皆为补益食疗佳品。
            因此有“天上龙肉，地上驴肉”民谚。陕西关中盛产驰名全国的“关中驴”。
            凤翔腊驴肉选用驴的腿肉精制而成。它色泽红润，质地细密，酥香可口，五味俱佳，百食不厌。自清代咸丰年间起，一直受到各地欢迎。</p>
        <p>冷却后肉块表面可出现霜状结晶。其切片颜色鲜红，呈半透明状，质细腻，酥而有筋，五香喷鼻，余味回长。若选驴鞭做原料，配用上等调料腊制就成为誉满关中的“钱肉”。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>