<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 周至猕猴桃</h1>
    </div>

    <div  class="content">
        <img src="../../img/mihoutao.jpg">
        <p >周至猕猴桃是产于陕西周至的猕猴桃，周至猕猴桃的质地柔软，味道有时被描述为草莓、香蕉、凤梨三者的混合。因猕猴喜食，故名猕猴桃；亦有说法是因为果皮覆毛，貌似猕猴而得名。
            品种多样，其鲜果及加工品屡获国际国内多项大奖，并远销26个国家和地区。2004年，周至猕猴桃取得了欧盟有机食品认证，从而开辟了周至猕猴桃走向世界的新纪元。</p>
        <p>周至猕猴桃荣获中国猕猴桃之乡，中国绿色食品发展中心认证为绿色食品，全国60%猕猴桃鲜果产自周至，在全国80%的猕猴桃果干产自周至。2014年实现产量42万吨，产值24亿多元。</p>
        <p>猕猴桃（又名杨桃、毛梨桃），为中国原产的珍贵果树。它的栽培史起于1200年前的陕西。唐朝诗人岑参有“中庭井栏上，一架猕猴桃”的诗句。
            明代李时珍《本草纲目》有：“猕猴桃，其形如梨，其色如桃，而猕猴桃喜食，故有诸名。”
            这个古老的植物，改革开放后，周至县是猕猴桃种植面积最大、产量最高、品种最优、管理技术最好、贮藏加工能力最强的“五最”县。
            为此，国家有关部门专门授予周至县“中国猕猴桃之乡”称号，并为猕猴桃基地颁发了《绿色食品证书》。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>