<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 苹果</h1>
    </div>

    <div  class="content">
        <img src="../../img/pingguo.jpg">
        <p >白水县是国内外专家公认的苹果最佳优生区之一，素有“中国苹果之乡”的美誉，其“白水”苹果也被确定为陕西省知名品牌。
            白水苹果以肉美色艳、 酸甜适中、 香脆可口而驰名中外 , 多次被评为 “中华名果”、 “绿色食品”、 “黄土高原上的明珠” 等 ,
            “白水苹果” 成为全国唯一的以县名注册的苹果商标 , 白水县被授予 “中国苹果之乡” 荣誉称号。</p>
        <p>白水和渭北高原的气候、土壤和地理位置，与生产优质苹果的生态环境完全吻合，属全世界最佳苹果优生区，
            已列为陕西和全国苹果生产基地。应力争在短期内把白水建成中国的优质苹果基地。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>