<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 户太八号葡萄</h1>
    </div>

    <div  class="content">
        <img src="../../img/guamian.jpg">
        <p >户太八号葡萄是西安市葡萄研究所（当时称户县葡萄研究所，1997年更为现名）通过奥林匹亚芽变选育而成，1996年01月10日陕西省第18次农作物品种审定会议审定通过。</p>
        <p>以紧邻陕西省西安市户县东南部草堂镇终南山北麓的草堂营村、上草村、下草村、叶寨村，长安西南部东大镇的西大村
            、落驾庄村、郭村等为中心种植区域，现已拓展到邻秦岭北麓地区户县东部、长安西部等乡镇农村大面积种植。</p>
        <p>户太八号葡萄多次结果能力强，生产中一般结2次果。一次果667㎡产量可达1000kg，二次果667㎡产量达1000—1500kg。
            该品种7月上中旬成熟，从萌芽到果成熟95—104d，成熟期比巨峰早上市15d左右。“户太8号”葡萄，树体生势强，
            耐低温，不裂果，成熟后在树上挂至8月中下旬不落粒。耐贮性好，常温下存放10d以上，果实完好无损。
            对黑痘病、白腐病、灰霉病、霜霉病等抗病性较强。经过该村几年来的栽种和实践，在生产上总结出了一套切实可行的栽培管理技术。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>