<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 石榴</h1>
    </div>

    <div  class="content">
        <img src="../../img/shiliu.jpg">
        <p >临潼石榴是陕西一大特产。它集全国石榴之优，素以色泽艳丽，果大皮薄，汁多味甜，核软鲜美，籽肥渣少，品质优良等特点而著称。
            名居全国五大名榴之冠，被列为果中珍品，历来是封建皇帝的贡品，享誉九州，驰名海外。</p>
        <p>石榴不仅是一种美好的观赏花木，又是珍贵实用的果树。石榴花色艳丽，开放期长。
            仲夏花开红似火，赤诚映日照眼明，常作庭院或盆栽观赏植物。，中秋时节，石榴成熟，
            朱实星悬，金房玉隔，万子同苞，红似玛瑙，白若水晶，酸甜可口，令人垂涎，入口品尝，
            如晶粒玉浆。白居易曾写诗赞美：“日照血球将滴地，风翻火焰欲烧人”。简直把石榴写绝了。
            凡来临潼的中外游客，都以能品尝到这里出产的石榴为一大快事。临潼石榴畅销国内各省市和港澳地区、东南亚各国，年出口量数10万公斤。。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>