<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 水晶饼</h1>
    </div>

    <div  class="content">
        <img src="../../img/shuijingbing.jpg">
        <p >水晶饼是陕西省渭南市下邽镇的地方名点。相传，它是宋代当地民众赞美寇准而制作的糕点。通过制皮、制馅、制酥、包酥、成型的烹饪步骤完成。</p>
        <p>水晶饼金面银帮，起皮掉酥，口感油多而不腻，糖重而渗甜，具有浓郁的玫瑰芳香。新中国成立后，水晶饼多次被国家商业部、陕西省商业厅授予优质产品称号。</p>
        <p>宋代，水晶饼在当时关中一带声誉很高，曾与燕窝、银耳、金华火腿齐名。</p>
        <p> 元代时，水晶饼已远销京、津各大城市。</p>
        <p>至清代末年，经渭南同义栈张采风技师改进精制，产品以“金面银帮，起皮飞酥，凉舌渗齿
            ，清香爽口”而名声大振。当时，以桐木盒和硬纸盒精心包装，作为馈赠亲友的上等礼品。
            后来，流传到西安，各糕点坊都仿制生产，但尤以西安德懋恭生产的最为有名。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>