<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 凤翔西凤酒</h1>
    </div>

    <div  class="content">
        <img src="../../img/xifengjiu.jpg">
        <p >西凤酒古称秦酒、柳林酒，是产于凤酒之乡的陕西省宝鸡市凤翔县柳林镇的地方传统名酒，为中国四大名酒之一。
            始于殷商，盛于唐宋，已有三千多年的历史，有苏轼咏酒等诸多典故，文化灿烂。</p>
        <p>2012年第四届“华樽杯”中国酒类品牌价值排行榜中以213.26亿的品牌价值位居中国白酒类品牌价值排行榜第6位。
            并荣获2012年度华樽杯“中国酒类十大最具全球竞争力品牌”、“中国十大最畅销白酒品牌”、“中国酒类十大品牌组合”及“富国强军十大突出贡献品牌”。</p>
        <p>西凤酒 始于殷商，盛于唐宋， 距今已有2600多年的历史，远在唐代就已列为珍品，是我国八大名酒之一。
            凤翔是民间传说中产凤凰的地方，有凤鸣岐山、吹箫引凤等故事。唐朝以后，又是西府台的所在地，人称西府凤翔。酒遂因此而得名。
            史载此酒在唐代即以“醇香典雅、甘润挺爽、诸味协调、尾净悠长”列为珍品。苏轼任职凤翔时，
            酷爱此酒，曾用“花开酒美曷不醉，来看南山冷翠微”的佳句来盛赞西凤美酒。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>