<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 灞桥樱桃</h1>
    </div>

    <div  class="content">
        <img src="../../img/yingtao.jpg">
        <p >灞桥樱桃颗粒饱满，果型硕大，果实呈肾形或宽心脏形，色泽艳丽有光泽，多数品种为鲜红色或紫红色，少数为浅黄色，果肉质地细腻、汁多、口感酸甜、
            味浓有香气、营养丰富，含有铁、维生素A、B、C及钙、磷等矿物元素，具有较高的食用和药用价值，适口性强。此果成熟时颜色鲜红，玲珑剔透，味美形娇。</p>
        <p>灞桥区地处陕西关中盆地中部，系西安市辖区之一。从东向西，从南向北成阶梯状倾斜，原面呈舒缓状起伏。境内最低海拔358.3米，最高海拔1240.7米，相对高差882.4米。
            全年日照时数2200小时以上，属暖温带半湿润大陆性季风气候，春、夏、秋、冬四季分明，冷、暖、干、湿变化明显，非常适宜樱桃的生长。</p>
        <p>灞桥区委、区政府的政策和资金扶持下，洪庆山、霸陵原、白鹿原上已经形成了4万亩的樱桃生产基地，挂果面积约为3.8万亩，成为西北最大的万亩樱桃种植基地。
            每到春季，美早、红灯、早大果、艳阳、大紫、黄玉、拉宾斯、先锋等30多个品种的樱桃漫山遍野，年产量达到2.5万吨，
            产品不仅销往北京、上海、广东、新疆等地，还走出国门，远销日本、韩国等国家，每年为村民带回收益5000多万元。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>