<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 彬县御面</h1>
    </div>

    <div  class="content">
        <img src="../../img/yumian.jpg">
        <p >彬县御面是陕西省咸阳市彬县著名的传统小吃。御面，又称玉面、淤面。是一种有别于凉皮的面粉特制食品。
            以其制作方法称为“淤面”，以其色亮如玉称为“玉面”，以其为宫中贡品而称为“御面”。</p>
        <p>虽经3000多年的演变，淤面仍是上述姜女首创的四道工序，就是洗淤面、炼淤面、蒸淤面、切淤面。后来又加了压淤面，即将蒸熟的淤面压制成饴络。
            制作方法是：取上乘精粉适量，拌匀揉成面团，将面团放于凉水盆中反复揉洗，直到洗净面筋为止。再将洗出的面水过箩沉淀，在凉快干净处沉淀一夜。
            第二天滤掉在上面的清水，把粉浆用小火在锅内提炼成团，人工搓成小块、笼蒸一小时后出锅，用饴络床压制成粉条状。或用文火在锅里边搅边炼，炼成半熟为宜，
            再揉成细长条，置于笼内蒸熟。然后缓缓晾冷，用锋刃片切成极薄的片，佐以蒜泥、姜末、陈醋、精盐、香油，即可食用。御面筋光柔软，光滑爽口。
            2003年4月，彬县制作的御面在“中国烹饪王国游·西安咸阳美食旅游周”活动中，获“西安咸阳旅游名品”称号。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>特 产</h1>
    </div>
</div>

</body>
</html>