<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 大唐芙蓉园</h1>
    </div>

    <div  class="content">
        <img src="../../img/furongyuan.jpg">
        <p >大唐芙蓉园位于陕西省西安市城南的曲江开发区，大雁塔东南侧，它是在原唐代芙蓉园遗址以北，
            仿照唐代皇家园林式样重新建造的，是中国第一个全方位展示盛唐风貌的大型皇家园林式文化主题公园，占地面积一千亩，其中水域面积三百亩。</p>
        <p>园内建有紫云楼、仕女馆、御宴宫、杏园、芳林苑、凤鸣九天剧院、唐市等许多仿古建筑，
            是中国最大的仿唐皇家建筑群，景区由中国工程院院士张锦秋担纲总体规划和建筑设计。</p>
        <p>大唐芙蓉园于2002年开始建设，2004年落成，2005年4月11日（农历三月初三）正式对外开放。
            2011年1月17日被国家旅游局评为国家AAAAA级旅游景区。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>人 文</h1>
    </div>
</div>

</body>
</html>