<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 黄巢堡</h1>
    </div>

    <div  class="content">
        <img src="../../img/huangchaobu.jpg">
        <p >黄巢堡国家森林公园位于西安城30公里的东骊山腹地。群山环抱，溪水环绕，四季常青。
            当地自古流传下来的四句诗描述道：“上有青松盖顶，下有四水围城；前有千山掩护
            ，后有五龙护送。”她犹如窈窕少女，却纱幔遮掩不漏真容，她近在咫尺，却至今鲜为人知其“庐山真面目”。</p>
        <p>“黄巢堡”，据西安市近在咫尺，却深入骊山之中，特殊的地形地貌使这里至今保持着较原始的山林风貌，
            是没有受到污染的自然山林景观。近几年已被陕西省列为森林公园，实行封闭式保护，进行综合性开发利用
            ，广植各种果木，山林覆盖面积不断扩大，已形成西安市最大的自然柏树林和刺槐林，形成了具有规模的各类果木经济林。
            同周围土岭形成鲜明对比，犹如黄土群山之中的绿色航母。良好的生态环境，使野生动物快速繁殖，据有关部门调查统计，
            各种鸟类已有上百种之多，加之它与城市化建设快速发展相媲美，犹如一个天地两种境界。树随山高，山在林中，
            林中有水有奇石，更有鸟语花香，山珍野味，真可谓谷幽林深诱君入，山清水秀不思返。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>人 文</h1>
    </div>
</div>

</body>
</html>