<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 华清池</h1>
    </div>

    <div  class="content">
        <img src="../../img/huaqingchi.jpg">
        <p >唐华清宫，是唐代封建帝王游幸的别宫。后也称“华清池”，位于陕西省西安市临潼区。
            背山面渭，倚骊峰山势而筑，规模宏大，建筑壮丽，楼台馆殿，遍布骊山上下。
            初名“汤泉宫”，后改名温泉宫。唐玄宗更华清宫，因在骊山，又叫骊山宫，亦称骊宫
            、绣岭宫。华清宫始建于唐初，鼎盛于唐玄宗执政以后。唐玄宗悉心经营建起如此宏大
            的离宫，他几乎每年十月都要到此游幸。岁尽始还长安。安史乱后，政局突变，华清宫
            的游幸迅速衰落，唐朝以后各代皇帝已很少出游华清宫。后历代皇家有维修，到解放前
            已是汤池寥落，宫殿萧疏。华清池，解放后人民政府自1959年起进行了大规模的扩建。</p>
        <p>1956年8月6日，陕西公布第一批文物保护单位时，把华清池（华清宫）列为省级保护单位，
            并提出保护好华清池内所藏的唐汉白玉老君像和北魏温泉颂碑、北魏三道士石刻等。
            华清宫遗址，划定范围为：临潼区（原县）城南什字至烽火台，东至寺沟，西至牡丹沟。
            1996年11月，华清宫遗址由国务院公布为第四批全国重点文物保护单位（简称国四）。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>人 文</h1>
    </div>
</div>

</body>
</html>