<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 壶口瀑布</h1>
    </div>

    <div  class="content">
        <img src="../../img/hukou.jpg">
        <p >壶口瀑布是国家级风景名胜区，国家AAAA级旅游景区。西临陕西省延安市宜川县壶口乡，东濒山西省临汾市吉县壶口镇，为两省共有旅游景区。南距陕西西安350千米；北距山西太原387千米。</p>
        <p>壶口瀑布是中国第二大瀑布，世界上最大的黄色瀑布。黄河奔流至此，两岸石壁峭立，河口收束狭如壶口，故名壶口瀑布。瀑布上游黄河水面宽300米，在不到500米长距离内，被压缩到20－30米的宽度。
            1000立方米/秒的河水，从20多米高的陡崖上倾注而泻，形成”千里黄河一壶收”的气概。</p>
        <p>2013年12月，“宜川县黄河壶口水利风景区”被中华人民共和国水利部水利风景区建设与管理领导小组评为“第十三批国家水利风景区”之一。国家黄河壶口水利风景区荣誉的授予，
            成为壶口景区继国家地质公园和地质遗迹保护区、国家重点风景名胜区、国家4A级景区之后第四张国家级名片，为延安市唯一国家水利风景名胜区。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>人 文</h1>
    </div>
</div>

</body>
</html>