<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 金丝大峡谷</h1>
    </div>

    <div  class="content">
        <img src="../../img/jinsixia.jpg">
        <p >金丝大峡谷国家森林公园，简称“金丝峡”，是国家AAAAA级旅游区、国家级森林公园、国家地质公园，
            被誉为 “峡谷之都”、“中国奇峡”、“天下奇峡”、“中国最美的大峡谷”，景区位于陕西东南门户商南县境内。
            园内南北植物交汇，既有温带、暖温带落叶阔叶树种，又有亚热带常绿、落叶阔叶树种，森林覆盖率达98%，
            2009年8月被国土资源部命名为国家地质公园，是陕西第二个国家地质公园。</p>
        <p>金丝峡地区地处秦岭南麓连接巴山北坡，居长江流域汉江水系丹江中游地区。境内地势起伏，谷岭相间，主要属低山和丘陵地貌。</p>
        <p>2002年7月2日，省林业厅正式批准成立“陕西省金丝峡森林公园”。2002年7月11日，省林业厅分管森林旅游的朱巨龙副厅长应邀
            在金丝峡考察指导公园建设它的游客资源可以以1000公里为半径划圈，将成为南京、上海、成都、重庆、北京、太原、兰州、武汉大区域内游人所向往的旅游景区。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>人 文</h1>
    </div>
</div>

</body>
</html>