<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/auto.js"></script>
</head>
<body style="background-image: linear-gradient(#fffaef,#fff4b0);">

<div data-role="page" id="pageone"  data-theme="e">
    <div  class="header header-info">
        <a href="javascript:history.back(-1)">返回</a>
        <h1>印 象 陕 西 —— 太白山</h1>
    </div>

    <div  class="content">
        <img src="../../img/taibaishan.jpg">
        <p >太白山，秦岭山脉最高峰，也是青藏高原以东第一高峰，如鹤立鸡群之势冠列秦岭群峰之首。自古以来，太白山就以高、寒、险、奇、富饶、神秘的特点闻名于世、称雄华中。</p>
        <p>太白山是渭河水系和汉江水系分水岭最高地段，具低山、中山、高山等地貌类型，界限清楚、特点各异，特别是第四纪冰川活动所雕琢的各种地貌形态保留完整、清晰可辨。</p>
        <p>太白山南北两坡气侯迥然不同，随着海拔高度递增，气候类型按一定规律呈连续的带状分布。气候立体差异，使植物、动物分布也形成相应的垂直带谱。气侯、动植物的差异同
            时影响着地表岩石风化进程，并直接参与着不同类型土壤形成。以气侯为基因、以植被、土壤为标志的自然综合体的天然景观也在垂直位置构成不同类型景观带。诸如此，
            使得太白山动植物资源非常丰富。山上林木茂盛，中草药遍地皆是，尤其世界上仅存的孑遗植物——独叶草在太白山独有。丰富的植物资源为野生动物提供了充足食物，
            雉类之血雉、红腹角雉及兽类之大熊猫、金丝猴、羚牛等珍禽异兽于太白山繁衍生息。自19世纪始，国内外学者纷纷来太白山考察。太白山成为多种学科盛夏时避暑旅游
            考察研究和教学实习的主要基地。</p>
        <p>太白山风景优美，是旅游胜地和道家活动场所。唐、宋以来，许多文人学士登临挥毫，留下脍炙人口的诗文；《关中胜迹图志》载：道书云太白山为道家第十一洞天。
            因此，每逢盛夏之时，登山览胜者与朝山香客络绎不绝。</p>
    </div>

    <div data-role="footer" class="footer">
        <h1>人 文</h1>
    </div>
</div>

</body>
</html>